@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Demo Git</h1>
    <h3>Hi, Welcome to Index page 1</h3>

    <h6>New Line changed </h6>
</div>
